.danmaku-elem {
    flex-shrink: 0;
    block-size: 24px;
    display: flex;
    align-items: center;
    content-visibility: auto;
    contain-intrinsic-block-size: 24px;
    position: relative;

    .progress,
    .content,
    .sent {
        display: flex;
        align-items: center;
    }

    .progress {
        flex-shrink: 0;
        inline-size: 60px;
        justify-content: center;
        overflow: hidden;
    }

    .content {
        flex-grow: 1;
        min-inline-size: 0;

        >p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .sent {
        flex-shrink: 0;
        inline-size: 88px;
        white-space: nowrap;
        overflow: hidden;
        anchor-name: --danmaku-sent;
    }

    .block {
        display: none;
        position: absolute;
        inset-inline-end: 0;
        block-size: 100%;
        inline-size: 88px;
        background-color: var(--background-color);
        text-align: end;
        padding-inline-end: 26px;
    }

    .attr {
        display: none;
        position: absolute;
        inset-inline-end: anchor(--danmaku-sent end);
        block-size: 1.125em;
        aspect-ratio: 1;
        border-radius: 50%;
    }

    &:is(.protect, .live, .like):hover {
        .attr {
            display: block;
            background: conic-gradient(#ffa726 120deg, #47be8d 120deg 240deg, #f2509e 240deg);

        }

        &:not(.live) {
            .attr {
                background: conic-gradient(#ffa726 180deg, #47be8d 180deg);

            }

            &:not(.protect) {
                .attr {
                    background: #ffa726;

                }
            }
        }

        &:not(.protect) {
            .attr {
                background: conic-gradient(#ffa726 180deg, #f2509e 180deg);

            }

            &:not(.like) {
                .attr {
                    background: #f2509e;

                }
            }
        }

        &:not(.like) {
            .attr {
                background: conic-gradient(#47be8d 180deg, #f2509e 180deg);

            }

            &:not(.live) {
                .attr {
                    background: #47be8d;

                }
            }
        }
    }

    &.mode7 {
        background-color: #effef5;
        color: #47be8d;
    }

    &.mode8 {
        background-color: #fffde1;
        color: #ffa726;
    }

    &.mode9 {
        background-color: #ffefd8;
        color: #ff792b;
    }

    &:hover {
        color: #00a1d6;
    }
}

.block-1 {

    .mode1,
    .mode6 {
        color: #ccd0d7;

        &:hover {
            color: #ccd0d7;
        }

        .block {
            display: block;
        }
    }
}

.block-4 {
    .mode4 {
        color: #ccd0d7;

        &:hover {
            color: #ccd0d7;
        }

        .block {
            display: block;
        }
    }
}

.block-5 {
    .mode5 {
        color: #ccd0d7;

        &:hover {
            color: #ccd0d7;
        }

        .block {
            display: block;
        }
    }
}

.block-7 {
    .mode7 {
        color: #ccd0d7;

        &:hover {
            color: #ccd0d7;
        }

        .block {
            display: block;
        }
    }
}

.block-8 {
    .mode8 {
        color: #ccd0d7;

        &:hover {
            color: #ccd0d7;
        }

        .block {
            display: block;
        }
    }
}

.block-9 {
    .mode9 {
        color: #ccd0d7;

        &:hover {
            color: #ccd0d7;
        }

        .block {
            display: block;
        }
    }
}