.bili-ranking {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    block-size: calc(100cqi / 391 * 88 + 60px);

    >.l-con {
        flex: 1;
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        >.headline>form {
            display: flex;
            column-gap: 12px;
            font-size: 12px;

            >label {
                position: relative;
                cursor: pointer;
                padding-block-start: 1px;
                padding-block-end: 2px;
                border-block-end: 1px solid transparent;
                transition: all .2s;

                >input {
                    appearance: none;
                }

                &:has(input:checked) {
                    border-block-end: 1px solid #00a1d6;
                    color: #00a1d6;

                    &::after {
                        content: "";
                        position: absolute;
                        inset-inline-start: 50%;
                        inset-block-end: 0;
                        transform: translateX(-3px);
                        border-block-end: 3px solid #00a1d6;
                        border-block-start: 0;
                        border-inline-start: 3px solid rgba(0, 0, 0, 0);
                        border-inline-end: 3px solid rgba(0, 0, 0, 0);
                        box-sizing: border-box;
                    }
                }
            }
        }
    }

    >.r-con {
        flex-shrink: 0;
        inline-size: 260px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        >header {
            flex-shrink: 0;
            block-size: 24px;
            font-size: 18px;
            display: flex;
        }

        >.tab-box {
            flex: 1 0;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            scrollbar-width: none;
            row-gap: 20px;

            >.item {
                display: flex;
                column-gap: .5em;
                cursor: pointer;
                position: relative;

                >.number>span {
                    color: #fff;
                    background-color: #b8c0cc;
                    border-radius: 4px;
                    padding-inline: 3px;
                }

                >img {
                    inline-size: 80px;
                    aspect-ratio: 16 / 9;
                    anchor-name: --tab-img;
                }

                >.ri {
                    color: #222;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &:nth-child(1)>.number>span,
                &:nth-child(2)>.number>span,
                &:nth-child(3)>.number>span {
                    background-color: #f25d8e;
                }

                a {
                    color: #99a2aa;

                    &:hover {
                        color: #00a1d6;
                    }
                }

                &:not(:has(>img))>.ri {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                &:not(:hover) .wl {
                    display: none;
                }

                &:hover {

                    >.wl {
                        inline-size: 22px;
                        aspect-ratio: 1;
                        background-image: url(../../../../player/assets/image/watchlater.png);
                        position: absolute;
                        inset-inline-end: anchor(--tab-img end);
                        inset-block-end: anchor(--tab-img end);
                        margin-inline-end: .3em;
                        margin-block-end: .3em;
                    }

                    >.wl.wld {
                        content: url(../../../../player/assets/image/checked.png);
                    }
                }
            }

            &:empty {
                align-items: center;

                &::before {
                    content: "没有数据(-_-#)";
                    color: #99a2aa;
                }
            }
        }

        >.more-link {
            flex-shrink: 0;
            block-size: 24px;
            background-color: #e5e9ef;
            border: 1px solid #e0e6ed;
            color: #222;
            border-radius: 4px;
            transition: .2s;
            display: flex;
            justify-content: center;
            align-items: center;

            >svg {
                inline-size: 1em;
                aspect-ratio: 1;
            }
        }
    }

    &.no-icon .icon-t {
        display: none;
    }
}