@scope {
    :scope {
        inset-area: block-start;
        inline-size: 320px;
        border: 1px solid #ccd0d7;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .16);
        box-sizing: border-box;
        overflow: hidden;
        background-color: #fff;
        padding: 12px;
        font-size: 12px;
        row-gap: .75em;
        margin: 0;

        &:popover-open,
        &:hover {
            display: flex;
            flex-direction: column;
        }
    }
}

.v-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:empty {
        display: none;
    }
}

.v-info {
    color: #99a2aa;
    padding-block-end: 8px;
    border-block-end: 1px solid #e5e9ef;
    display: flex;
    column-gap: 10px;

    &:empty {
        display: none;
    }
}

.v-preview {
    padding-block-start: 8px;
    padding-block-end: 12px;
    border-block-end: 1px solid #e5e9ef;
    display: flex;
    column-gap: 8px;

    >img {
        block-size: 63px;
    }

    >p {
        margin: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #99a2aa;
        line-height: 21px;
    }
}

.v-data {
    display: flex;
    column-gap: 2em;

    >span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #99a2aa;
        display: flex;
        align-items: center;
        column-gap: 4px;

        >i {
            display: inline-block;
            inline-size: 12px;
            block-size: 12px;
            background-image: url(//static.hdslb.com/images/base/icons.png);
        }

        &.play>i {
            background-position: -282px -90px;
        }

        &.danmu>i {
            background-position: -282px -218px;
        }

        &.star>i {
            background-position: -282px -346px;
        }

        &.coin>i {
            background-position: -282px -410px;
        }

        &.play>i {
            background-position: -282px -90px;
        }
    }
}