.bofqi-auxiliary-block {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    content-visibility: auto;

    .bofqi-auxiliary-block-filter {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-inline: 16px;

        >header {
            inline-size: 100%;
            font-weight: 700;
            color: #222;
            padding-block-start: 16px;
            padding-block-end: 10px;
        }

        .bofqi-auxiliary-block-filter-type {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: color .3s;
            position: relative;
            inline-size: 64px;
            margin-block-end: 16px;

            &::after {
                content: attr(data-label);
                display: block;
            }

            >svg {
                &:not(:last-child) {
                    font-size: 48px;
                    fill: #99a2aa;
                    transition: fill .3s;
                    anchor-name: --danmaku-block;
                }

                &:last-child {
                    position: absolute;
                    inset-inline-end: anchor(--danmaku-block end);
                    inset-block-end: anchor(--danmaku-block end);
                    font-size: 24px;
                    background-color: #fff;
                    border: 3px solid #fff;
                    fill: #99a2aa;
                    border-radius: 50%;
                    box-sizing: border-box;
                    opacity: 0;
                    transition: all .3s;
                }
            }

            &:hover {

                >svg {
                    &:not(:last-child) {
                        fill: #6d757a;
                    }

                    &:last-child {
                        opacity: 1;
                        fill: #6d757a;
                    }
                }
            }

            &.block {
                color: #99a2aa;

                >svg {

                    &:last-child {
                        opacity: 1;
                        fill: #f25d8e;
                    }
                }
            }
        }

        .bofqi-auxiliary-block-filter-weight {
            flex-grow: 1;
            block-size: 30px;
        }
    }
}