.bofqi-area-wrap>video {
    --cue-color: #fff;
    --cue-shadow: none;
    --cue-background: rgba(0, 0, 0, 0.8);
    --cue-white-space: normal;
    --cue-line-height: normal;
    --cue-font-family: inherit;
    --cue-font-size: 28px;
    --cue-scale: 1;

    &::-webkit-media-text-track-container {
        font-size: inherit !important;
    }

    &::cue {
        color: var(--cue-color);
        text-shadow: var(--cue-shadow);
        background-color: var(--cue-background);
        white-space: var(--cue-white-space);
        line-height: var(--cue-line-height);
        font-family: var(--cue-font-family);
        font-size: calc(var(--cue-font-size) * var(--cue-scale));
    }
}

@scope (:fullscreen) {
    .bofqi-area-wrap>video::-webkit-media-text-track-container {
        translate: 0 -70px;
    }
}