@import url(./render/mode0.css);

.b-danmaku {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    inset: 0;
    container: danmaku / size;
    pointer-events: none;
    overflow: hidden;

    --animation-play-state: running;

    --font-size: 25px;
    --text-shadow: #000;
    --fontSize: 1;
    --wraps: 1;
    --fontBorder: 0;
    --font-family: SimHei, "Microsoft JhengHei";
    --font-weight: bold;
    --opacity: 1;
    --like: 1;
    --colorful: 1;
    --full-screen-sync: 0;
}