@import url(./message/index.css);
@import url(./wrap/index.css);
@import url(./control/index.css);
@import url(./sendbar/index.css);

.bofqi-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}