@import url(./area/index.css);
@import url(./auxiliary/index.css);
@import url(./widget/index.css);
@import url(../../danmaku/style/index.css);

:root {
    --box-shadow: #e2e2e2;
    --background-color: #fff;
    --background-color-hover: #f4f5f7;
    --font-color: #99a2aa;
    --font-color-hover: #6d757a;
    --font-color-disabled: #ccd0d7;
    --border-hover: #00a1d6;
}

@scope {
    :scope {
        font-family: Arial, Helvetica, Microsoft YaHei, sans-serif;
        font-size: 12px;
        box-sizing: border-box;
        border-radius: 4px;
        text-align: start;
        box-shadow: 0 0 8px var(--box-shadow);
        background-color: var(--background-color);
        white-space: nowrap;
        margin: 0;
        padding: 0;
        inline-size: 100%;
        block-size: 100%;
        display: flex;
        container: bofqi / inline-size;

        /* 宽屏模式 */
        --mode-wide: 0;
        /* 全屏模式 */
        --mode-fullscreen: 0;
        /* 播放状态 */
        --state: 1;

        &.mode-fullscreen-web:not(:fullscreen) {
            position: fixed;
            translate: initial;
            inset-block-start: 0;
            inset-inline-start: 0;
            inline-size: 100vi;
            block-size: 100vb;
            z-index: 99999;

        }

        &.video-state-pause {
            --state: 0;
        }

        &.video-state-buff {
            --state: 2;
        }

        &:fullscreen {
            inset: initial;
            translate: initial;
            --mode-fullscreen: 1;
        }

        @media (display-mode: picture-in-picture) {
            & {
                inline-size: 100vi !important;
                block-size: 100vb !important;
            }
        }
    }

    div,
    button {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        user-select: none;
    }

    button {
        cursor: pointer;
        background-color: initial;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color .3s;

        &:disabled {
            pointer-events: none;

            svg {
                fill: #ccd0d7;
            }
        }

        &:hover {
            background-color: #f4f5f7;
            color: #6d757a;

            svg {
                fill: #6d757a;
            }
        }
    }

    :focus-visible {
        outline: none;
    }
}

@media (display-mode: picture-in-picture) {
    body {
        margin: 0;
        padding: 0;
        border: 0;
    }
}