.bofqi-control-fullscreen-pip {
    position: absolute;
    background-color: var(--background-color);
    position-anchor: --fullscreen-web;
    inset-area: block-start;
    inline-size: anchor-size(inline);
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
}

.bofqi-area-control:not(:has(.bofqi-control-fullscreen:hover), :has(.bofqi-control-fullscreen-web:hover),
    :has(.bofqi-control-fullscreen-pip:hover)) .bofqi-control-fullscreen-pip {
    display: none;
}