.bofqi-control-quality {
    anchor-name: --quality;
    inline-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: attr(data-label);
        font-size: 12px;
        color: #99a2aa;
    }

    .bofqi-quality-wrap {
        display: none;
        position: absolute;
        position-anchor: --quality;
        inset-area: block-start;
        background-color: var(--background-color);
        padding: 0;
        margin: 0;
        border-start-start-radius: 4px;
        border-start-end-radius: 4px;
        font-size: 12px;
        border: 1px solid #e2e2e2;

        >li {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #222;
            block-size: 32px;
            padding-inline: 20px;
            transition: background-color .3s;
            cursor: pointer;

            &:hover {
                background-color: #e5e9ef;
            }

            &.selected {
                color: #00a1d6;
                cursor: default;
                pointer-events: none;
            }
        }
    }

    &:hover .bofqi-quality-wrap {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    &.hidden {
        display: none;
    }
}