.bofqi-control-time {
    display: flex;
    justify-content: center;
    block-size: inherit;
    align-items: center;

    .bofqi-control-time-seek {
        display: none;
        inline-size: 60px;
        margin-inline: 10px;
        padding-inline: 5px;
        block-size: 20px;
        font-size: 12px;
        color: #99a2aa;
        text-align: center;
        border: 1px solid #e2e2e2;

        &:focus-visible {
            outline: none;
        }
    }

    &.seeking {
        .bofqi-control-time-seek {
            display: flex;
        }
    }

    .bofqi-control-time-wrap {
        margin-inline: 10px;
        block-size: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        color: #99a2aa;

        .bofqi-control-divider {
            padding-inline: 2px;
        }
    }

    &.seeking {
        .bofqi-control-time-wrap {
            display: none;
        }
    }
}