.bofqi-control-volume {
    anchor-name: --volume;

    &>svg {
        display: none;
    }

    &:not(.large, .muted)>svg:first-child {
        display: block;
    }

    &.large:not(.muted)>svg:nth-child(2) {
        display: block;
    }

    &.muted>svg:nth-child(3) {
        display: block;
    }

    .bofqi-control-volume-wrap {
        display: none;
        position: absolute;
        position-anchor: --volume;
        inset-area: inline-end;
        block-size: anchor-size(block);
        rotate: -90deg;
        transform-origin: -15px;
        background-color: var(--background-color);
        border: 1px solid #e2e2e2;
        border-end-end-radius: 4px;
        border-start-end-radius: 4px;
        inline-size: 100px;

        &>.bpui-slider {
            min-inline-size: 0;
            padding-inline-start: 10px;
        }
    }

    &:hover {
        .bofqi-control-volume-wrap {
            display: flex;
            align-items: center;

            &::after {
                content: attr(data-value);
                rotate: 90deg;
                display: flex;
                align-items: center;
                justify-content: center;
                block-size: 28px;
                aspect-ratio: 1;
                font-size: 12px;
            }
        }
    }
}