[popover].popover-local-font {
    inset-inline-start: 50%;
    inset-block-start: 50%;
    translate: -50% -50%;
    border: 1px solid var(--ccd0d7);
    border-radius: 4px;
    padding: 4px;
    align-items: center;
    max-inline-size: 800px;
    max-block-size: 600px;
    overflow-y: auto;
    scrollbar-width: none;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;

    &>button {
        appearance: none;
        outline: none;
        border: 1px solid var(--ccd0d7);
        border-radius: 4px;
        padding: .5em;
        inline-size: fit-content;
        block-size: fit-content;
        background-color: var(--fff);
        cursor: pointer;

        &:hover {
            background-color: var(--fff);
            background-color: var(--ccd0d7);
            color: var(--6d757a);
        }
    }
}