.bofqi-sendbar-choose {
    flex-shrink: 0;
    position: relative;
    inline-size: 38px;
    font-size: 14px;
    aspect-ratio: 1;
    anchor-name: --sendbar-choose;

    .bofqi-sendbar-choose-wrap {
        position: absolute;
        position-anchor: --sendbar-choose;
        inset-area: block-start span-inline-end;
        position-visibility: anchors-visible;
        padding-inline: 10px;
        padding-block-start: 20px;
        border: 1px solid #e2e2e2;
        border-radius: 4px;
        background-color: var(--background-color);
        transition: all .3s ease-in-out;
        border-start-start-radius: 4px;
        border-start-end-radius: 4px;

        &[popover]:popover-open:not(dialog) {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            cursor: default;
            overflow: initial;
        }

        .bofqi-sendbar-choose-row {
            min-block-size: 24px;
            font-size: 12px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            margin-block: 6px;

            .bofqi-sendbar-choose-label {
                inline-size: 30px;
                text-align: center;
                margin-inline-end: 10px;
            }

            .bofqi-sendbar-choose-selection {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: flex-start;
                justify-content: flex-start;
                align-items: center;

                >div {
                    border: 1px solid transparent;
                    padding: 4px 5px;
                    border-radius: 4px;
                    transition: all .3s ease-in-out;
                    cursor: pointer;

                    &:not(:last-child) {
                        margin-inline-end: 10px;
                    }

                    &.bofqi-sendbar-choose-mode {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        transition: color .3s;
                        position: relative;
                        inline-size: 64px;
                        margin-block-end: 16px;

                        &::after {
                            pointer-events: none;
                            content: attr(data-label);
                            display: block;
                        }

                        >svg {
                            pointer-events: none;

                            &:not(:last-child) {
                                font-size: 48px;
                                fill: #99a2aa;
                                transition: fill .3s;
                                anchor-name: --danmaku-select;
                            }

                            &:last-child {
                                position: absolute;
                                inset-inline-end: anchor(--danmaku-select end);
                                inset-block-end: anchor(--danmaku-select end);
                                font-size: 24px;
                                background-color: #fff;
                                border: 3px solid #fff;
                                fill: #99a2aa;
                                border-radius: 50%;
                                box-sizing: border-box;
                                opacity: 0;
                                transition: all .3s;
                            }
                        }

                        &:hover {

                            >svg {
                                &:not(:last-child) {
                                    fill: #6d757a;
                                }

                                &:last-child {
                                    opacity: 1;
                                    fill: #6d757a;
                                }
                            }
                        }

                        &.active {

                            >svg {

                                &:last-child {
                                    opacity: 1;
                                    fill: #00a1d6;
                                }
                            }
                        }
                    }

                    &:hover {
                        color: #00a1d6;
                    }

                    &.active {
                        color: #00a1d6;
                        pointer-events: none;
                        cursor: default;

                        &:not(.bofqi-sendbar-choose-mode) {
                            border-color: #00a1d6;
                        }
                    }

                    &.disabled {
                        color: #99a2aa;
                        cursor: not-allowed;
                    }
                }

            }

            &:first-child {
                margin-block-start: 0;
            }

            &:last-child {
                margin-block-end: 0;
            }
        }
    }
}