.bofqi-sendbar-color {
    flex-shrink: 0;
    position: relative;
    inline-size: 38px;
    font-size: 14px;
    aspect-ratio: 1;
    anchor-name: --bpui-color;
    --color-select: #ffffff;

    >svg {
        background-color: var(--color-select);
    }
}