.bofqi-area-sendbar-input {
    flex-grow: 1;
    block-size: 100%;
    background-image: linear-gradient(#f5f5f5, #fff);
    display: flex;
    align-items: center;

    >input {
        flex-grow: 1;
        border: 0;
        padding-inline: 10px;
        color: #6b6b6b;
    }

    .sendbar-hint {
        flex-shrink: 0;
        color: #99a2aa;
        cursor: pointer;

        &:hover {
            color: #00a1d6;
        }
    }

    .sendbar-send {
        flex-shrink: 0;
        block-size: 28px;
        margin-inline-start: 9px;
        margin-inline-end: 5px;
        padding-inline-start: 14px;
        padding-inline-end: 10px;

        &:hover {
            color: #fff;
            background-color: #00b5e5;
            border-color: #00b5e5;
        }
    }
}