@import url(./wrap.css);

.bofqi-auxiliary-info-setting {
    position: absolute;
    font-size: 24px;
    inline-size: 30px;
    aspect-ratio: 1;
    position-anchor: --bofqi-more;
    inset-area: inline-start;
}