@import url(./part/index.css);

@scope {
    :scope {
        inline-size: 980px;
        min-inline-size: 980px;
        block-size: calc(980px / 16 * 9 + 68px);
        margin-inline: auto;

        @media screen and (min-width:1400px) {

            & {
                inline-size: 1160px;
                block-size: calc(1160px / 16 * 9 + 68px);
            }
        }

        @media screen and (min-width:2500px) {

            & {
                inline-size: 1920px;
                block-size: calc(1920px / 16 * 9 + 68px);
            }
        }

        &.nano {
            inline-size: 100% !important;
            block-size: 100% !important;
            min-inline-size: initial;
        }
    }
}