input[type="range" i].bpui-slider {
    position: relative;
    appearance: none;
    margin-inline: 0;
    margin-block: 0;
    cursor: pointer;
    --linear-gradient: linear-gradient(to right, #e5e9ef 0% 100%);

    &::-webkit-slider-runnable-track {
        background-image: var(--linear-gradient);
        border-radius: 4px;
        block-size: 6px;
    }

    &::-webkit-slider-thumb {
        appearance: none;
        border-radius: 7px;
        cursor: pointer;
        box-shadow: 0 0 3px #017cc3;
        background-color: #fff;
        inline-size: 14px;
        block-size: 14px;
        position: relative;
        inset-block-start: -4.5px;
        anchor-name: --slider-thumb;
    }

    &.hint {
        &::after {
            content: attr(data-value);
            background-color: var(--background-color);
            position: absolute;
            position-anchor: --slider-thumb;
            inset-area: block-start;
            transition: all .3s;
            opacity: 0;
            padding-inline: 4px;
            padding-block: 2px;
            border-radius: 4px;

        }

        &:hover::after {
            opacity: 1;
        }
    }

    &:disabled {
        pointer-events: none;
    }
}