@import url(./sub-reply.css);

.comment-wrap {
    display: flex;

    .user-face {
        flex-shrink: 0;
        margin-block-start: 24px;
        margin-inline: 8px;
        position: relative;

        &:is(a) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        >.face {
            inline-size: 48px;
            aspect-ratio: 1;
            border-radius: 50%;
        }

        >.pendant {
            position: absolute;
            block-size: 72px;
            inline-size: 72px;
        }

        >.auth {
            position: absolute;
            inline-size: 20px;
            block-size: 20px;
            inset-inline-end: 0;
            inset-block-end: 0;
            background-image: url(//s1.hdslb.com/bfs/static/jinkela/videoplay/asserts/user-auth.png);
            background-repeat: no-repeat;
            z-index: 3;

            &.o-auth {
                background-position: -4px -53px;
            }

            &.p-auth {
                background-position: -38px -53px;
            }
        }

    }

    .con {
        flex-grow: 1;
        padding-block-start: 22px;
        padding-block-end: 14px;
        border-block-start: 1px solid #e5e9ef;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .user {
            min-block-size: 40px;
            font-weight: bold;
            display: flex;
            align-items: center;
            position: relative;
            column-gap: 8px;

            .name {
                color: #6d757a;
                text-wrap: nowrap;
            }

            >img {
                font-size: 12px;
                block-size: 1em;
            }

            .is-up {
                font-size: 9px;
                border-radius: 1px;
                background-color: #fb7299;
                color: #fff;
                border-color: #fb7299;
                padding-inline: 2px;
                font-weight: normal;
            }

            .fans {
                font-weight: normal;
                font-size: 10px;
                display: inline-flex;
                align-items: center;

                .fans-name {
                    padding-inline: 2px;
                    border-width: 0.5px;
                    border-start-start-radius: 1px;
                    border-end-start-radius: 1px;
                }

                .fans-level {
                    border-width: 0.5px;
                    border-style: solid;
                    border-end-end-radius: 1px;
                    border-start-end-radius: 1px;
                }
            }

            .nameplate>img {
                font-size: 24px;
                block-size: 1em;
                vertical-align: text-bottom;
            }

            .sailing {
                display: inline-flex;
                align-items: center;
                position: absolute;
                inset-inline-end: 0;

                >img {
                    block-size: 48px;
                }

                .sailing-info {
                    position: absolute;
                    inset-inline-end: 0;
                    font-family: fanscard;
                    scale: .7;
                    transform-origin: left center;
                }
            }
        }

        .text {
            padding-block: 2px;
            font-size: 14px;
            overflow: hidden;
            word-wrap: break-word;
            word-break: break-word;
            white-space: pre-wrap;

            .stick {
                display: inline-block;
                text-align: center;
                font-size: 12px;
                color: #ff81aa;
                font-weight: normal;
                border: 1px solid #ff81aa;
                border-radius: 3px;
                margin-inline-end: 5px;
            }

            >a {
                color: #00a1d6;
            }

            >img {
                max-inline-size: 100%;

                &.emote {
                    inline-size: 20px;
                    aspect-ratio: 1;
                    vertical-align: text-bottom;
                }

                &.topopover {
                    display: block;
                    cursor: zoom-in;
                }
            }
        }

        .info {
            color: #99a2aa;
            margin-block-start: 6px;
            font-size: 12px;
            display: flex;
            align-items: center;
            column-gap: 20px;


            >span {
                display: flex;
                align-items: center;

                >svg {
                    inline-size: 12px;
                    aspect-ratio: 1;
                    fill: #99a2aa;
                    margin-inline-end: 5px;
                }

                &.reply {
                    padding: 5px;
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover {
                        color: #00a1d6;
                        background: #e5e9ef;
                    }
                }

                &.like-num {
                    cursor: pointer;

                    >svg {
                        pointer-events: none;
                    }

                    &:hover>svg {
                        fill: #00a1d6;
                    }

                    &.liked>svg {
                        fill: #00a1d6;
                    }
                }

                &:empty {
                    display: none;
                }
            }
        }

        .reply-box {
            .view-more {
                color: #6d757a;
                pointer-events: none;

                >a {
                    color: #00a1d6;
                    cursor: pointer;
                    padding-block: 2px;
                    padding-inline: 3px;
                    border-radius: 4px;
                    pointer-events: initial;

                    &:hover {
                        background-color: #e5e9ef;
                        color: #00a1d6;
                    }
                }
            }

            .interaction {
                display: flex;
                align-items: center;

                &::before {
                    content: "共" attr(data-num) "页";
                    margin-inline-end: 10px;
                }

                >a {
                    margin-inline: 4px;
                    cursor: pointer;

                    &:hover {
                        color: #00a1d6;
                    }

                    &.on,
                    &.more {
                        pointer-events: none;
                    }

                    &.on {
                        color: #00a1d6;
                        font-weight: bold;
                    }
                }
            }

            &[popover] {
                inset-inline-start: 50%;
                inset-block-start: 50%;
                translate: -50% -50%;
                border: 0;
                box-shadow: 0 0 20px 3px #0000005c;
                border-radius: 10px;
                padding-inline: 18px;
                min-block-size: 200px;
                max-block-size: 70vh;
                overflow-y: auto;
                scrollbar-width: thin;

                .dialog {
                    display: none;
                }

                &::after {
                    content: attr(data-loading);
                    color: #99a2aa;
                    display: block;
                    text-align: center;
                    margin-block-end: 30px;
                }
            }
        }
    }
}