@import url(./record.css);
@import url(./state.css);
@import url(./toast.css);
@import url(./panel.css);
@import url(./video/index.css);

.bofqi-area-wrap {
    flex: 1;
    position: relative;
    background-color: black;

    >video {
        display: block;
        position: absolute;
        inset: 0;
        inline-size: 100%;
        block-size: 100%;

        &.mirror {
            rotate: y 180deg;
        }
    }
}

@container bofqi style(--mode-fullscreen:1) {
    @scope (.no-cursor) {
        .bofqi-area-wrap * {
            cursor: none;
        }
    }
}