.bofqi-video-context-menu>li {
    inline-size: 100%;
    padding-block: 4px;
    padding-inline: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    block-size: 38px;
    line-height: 30px;
    transition: all .3s ease-in-out;
    font-size: 12px;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    &.context-danmaku-silent {
        display: none;
        border-block-start: 1px solid var(--e2e2e2);

        &.active {
            display: flex;
        }
    }

    &.context-danmaku-border-top {
        border-block-start: 1px solid var(--e2e2e2);
    }

    &:hover {
        background: var(--ddd);
    }
}