.live {

    .headline {
        &::before {
            background-position: -141px -652px;
        }

        >.online {
            color: var(--99a2aa);

            >span {
                color: var(--00a1d6);
            }
        }

        >.fire {
            margin-inline-start: 30px;
            color: var(--6d757a);
            display: flex;
            column-gap: .5em;

            &::before {
                content: "";
                display: inline-block;
                inline-size: 14px;
                block-size: 14px;
                background-image: url(//static.hdslb.com/images/base/icons.png);
                background-position: -665px -1113px;
            }
        }
    }

    .storey-box {
        >a {
            .mask {
                background-size: cover;
                border-radius: 4px;
                background-color: var(--000);
            }

            >.snum {
                position: absolute;
                position-anchor: --img;
                inset-area: block-end;
                translate: 0px calc(-100% - 2px);
                inline-size: 100%;
                block-size: 34px;
                padding-inline: 6px;
                box-sizing: border-box;
                color: var(--fff);
                pointer-events: none;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                background: linear-gradient(transparent, transparent, var(--00000080));

                >.online {
                    display: flex;
                    align-items: center;
                    column-gap: 5px;

                    &::before {
                        content: "";
                        display: inline-block;
                        inline-size: 15px;
                        block-size: 15px;
                        background-image: url(//static.hdslb.com/images/base/icons.png);
                        background-position: -279px -280px;
                    }
                }
            }

            >.num {
                position: absolute;
                inset-block-end: 0;
                inline-size: 100%;
                line-height: 20px;
                color: var(--9ba3ab);
                background-color: var(--fff);
                transition: all .3s;
            }

            &:hover {
                >.snum {
                    display: none;
                }

                >.num {
                    inset-block-end: -20px;
                }
            }
        }
    }

    >.right {
        row-gap: 20px;

        >form {
            flex-shrink: 0;
            display: flex;
            column-gap: 12px;

            >label {
                line-height: 20px;
                padding-block-start: 1px;
                padding-block-end: 2px;
                border-block-end: 1px solid transparent;
                cursor: pointer;
                transition: .2s;
                position: relative;

                &:hover {
                    color: var(--00a1d6);
                }

                &:has(input:checked) {
                    border-block-end-color: var(--00a1d6);
                    color: var(--00a1d6);
                    pointer-events: none;

                    &::after {
                        content: "";
                        position: absolute;
                        inset-block-end: 0;
                        inset-inline-start: calc(50% - 3px);
                        border-block-end: 3px solid var(--00a1d6);
                        border-block-start: 3px solid transparent;
                        border-inline: 3px solid transparent;
                    }
                }

                >input {
                    appearance: none;
                    display: none;
                }
            }
        }

        >.rank {
            flex: 1;
            min-block-size: 0;
            display: flex;
            flex-direction: column;
            row-gap: 14px;
            overflow-y: auto;
            scrollbar-width: thin;
            counter-reset: rank;
            transition: all .3s allow-discrete;

            @starting-style {
                translate: 100% 0;
            }

            >div {
                display: flex;
                align-items: flex-start;

                &::before {
                    flex-shrink: 0;
                    counter-increment: rank;
                    content: counter(rank);
                    display: inline-block;
                    min-inline-size: 12px;
                    line-height: 18px;
                    margin-inline-end: 6px;
                    padding-inline: 3px;
                    border-radius: 4px;
                    background-color: var(--b8c0cc);
                    color: var(--fff);
                    font-weight: bolder;
                    text-align: center;
                }

                &:nth-child(-n+3)::before {
                    background-color: var(--f25d8e);
                }

                >.preview {
                    flex-shrink: 0;
                    inline-size: 40px;
                    block-size: 40px;
                    margin-inline-end: 12px;
                    border-radius: 50%;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                >.r-i {
                    flex: 1;
                    min-inline-size: 0;
                    color: var(--99a2aa);
                    display: flex;
                    flex-direction: column;
                    row-gap: 4px;

                    >:first-child {
                        line-height: 16px;
                        display: flex;
                        justify-content: space-between;

                        >.u-name {
                            min-inline-size: 0;
                            color: var(--222);
                            overflow: clip;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        >.u-online {
                            min-inline-size: 0;
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            column-gap: 3px;

                            &::before {
                                content: "";
                                display: inline-block;
                                inline-size: 14px;
                                block-size: 10px;
                                background-image: url(//static.hdslb.com/images/base/icons.png);
                                background-position: -345px -219px;
                            }
                        }
                    }

                    >:last-child {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    &:hover .u-name {
                        color: var(--00a1d6);
                    }
                }
            }

            &:empty {
                flex-direction: row;
                justify-content: center;
                align-items: flex-start;
                column-gap: 5px;

                &::before {
                    content: "";
                    display: inline-block;
                    inline-size: 20px;
                    block-size: 20px;
                    background-image: url(//s1.hdslb.com/bfs/static/jinkela/home/asserts/empty-icon.png);
                    background-repeat: no-repeat;
                    background-position: center -598px;
                }

                &::after {
                    content: '没有数据(-_-#)';
                    color: var(--99a2aa);
                }
            }

            &.hide {
                display: none;
                translate: -100% 0;
            }
        }
    }
}