@import url(./wrap.css);

.bofqi-auxiliary-info-more {
    position: absolute;
    font-size: 24px;
    inline-size: 30px;
    aspect-ratio: 1;
    inset-inline-end: calc(anchor(--bofqi-info end) + 6px);
    anchor-name: --bofqi-more;
}