@import url(./mode1.css);
@import url(./mode4.css);
@import url(./mode5.css);
@import url(./mode6.css);
@import url(./mode8.css);
@import url(./mode9.css);

.mode0 {
    position: absolute;
    line-height: 1.125;
    white-space: pre;
    pointer-events: none;
    will-change: transform;
    contain: content;
    font-size: calc(var(--font-size) * var(--fontSize));
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    opacity: var(--opacity);
    display: flex;
    align-items: center;

    &.wraps {
        font-size: calc(var(--font-size) * var(--wraps));
    }

    .bg {
        display: none;
        inline-size: 1.74em;
        block-size: 1.8em;
        position: absolute;
        inset-block-start: .2em;
        inset-inline-start: 0;
        z-index: -1;
    }

    .bg1 {
        display: none;
        inline-size: 100%;
        border-start-start-radius: 1em;
        border-end-start-radius: 1em;
        background: linear-gradient(90deg, #ffffff4d, #fff0);
        position: absolute;
        block-size: 1.8em;
        inset-inline-start: 1.74em;
        padding-inline-start: 1.6em;
        margin-inline-start: -1.74em;
    }

    .bg2 {
        display: none;
        inline-size: 18px;
        block-size: 25px;
        position: relative;
        font-size: 0;
    }
}

@container danmaku style(--fontBorder: 0) {
    .mode0 {
        text-shadow: 1px 0 1px var(--text-shadow), 0 1px 1px var(--text-shadow), 0 -1px 1px var(--text-shadow), -1px 0 1px var(--text-shadow);
    }
}

@container danmaku style(--fontBorder: 1) {
    .mode0 {
        text-shadow: 0px 0px 1px var(--text-shadow), 0 0 1px var(--text-shadow), 0 0 1px var(--text-shadow);
    }
}

@container danmaku style(--fontBorder: 2) {
    .mode0 {
        text-shadow: 1px 1px 2px var(--text-shadow), 0 0 1px var(--text-shadow);
    }
}

@container danmaku style(--animation-play-state: paused) {
    .mode0 {
        animation-play-state: paused !important;
    }
}

@container danmaku style(--like: 1) {
    .mode0.like:not(.wraps) {
        padding-block: .6em;
        padding-inline-start: .6em;
        padding-inline-end: 2.5em;
        line-height: 1;

        .bg,
        .bg1,
        .bg2 {
            display: inline-block;

            svg {
                inline-size: 100%;
                block-size: 100%;
            }
        }

        .content {
            margin-inline-start: .4em;
        }
    }
}

@container danmaku style(--colorful: 1) {
    .mode0.colorful {
        background-size: cover;
        text-shadow: none;
        background-image: linear-gradient(to right, #F2509E, #308BCD);
        background-clip: text;
        -webkit-text-fill-color: #ffffff;
        -webkit-text-stroke: 2px transparent;
    }
}

@container danmaku style(--full-screen-sync: 1) {
    .mode0 {
        font-size: calc(var(--font-size) * var(--fontSize) * var(--wraps));
    }
}