.bili-part {
    position: relative;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 12px;
    column-gap: 20px;
    margin-inline: auto;
    margin-block: 1em;
    inline-size: 980px;
    min-inline-size: 980px;
    overflow: hidden;

    @media screen and (min-width:1400px) {

        & {
            inline-size: 1160px;
        }
    }

    @media screen and (min-width:2500px) {

        & {
            inline-size: 1920px;
        }
    }

    >a {
        flex-shrink: 0;
        inline-size: 117px;
        block-size: 17px;
        color: #222;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid #ccd0d7;
        padding-block: 3px;
        padding-inline: 7px;
        outline: none;
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: .15s;
        cursor: pointer;
        content-visibility: auto;
        contain-intrinsic-inline-size: 133px;
        contain-intrinsic-block-size: 25px;

        &.on,
        &:hover {
            color: #fff;
            background-color: #00a1d6;
            border-color: #00a1d6;
        }

        &.on {
            pointer-events: none;
        }
    }

    &:empty {
        display: none;
    }

    &:not(.spread):has(>.spread) {
        flex-wrap: nowrap;
    }

    &.spread {
        flex-wrap: wrap;

        >.spread {
            position: inherit;
        }
    }

    >.spread {
        position: absolute;
        inset-inline-end: 0;
        inline-size: 117px;
        block-size: 17px;
        box-sizing: content-box;
        color: #222;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid #ccd0d7;
        padding-block: 3px;
        padding-inline: 7px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: .15s;
        cursor: pointer;

        &:hover {
            color: #fff;
            background-color: #00a1d6;
            border-color: #00a1d6;
        }
    }
}